@tailwind base;
@tailwind components;

@layer base {
    :root {
        --header-height: 64px;
        color-scheme: dark;
    }


    body {
        @apply bg-blue-50
    }
}

*, :after, :before {
    border: 0 solid #e0e0e0;
}

.ql-tooltip{
    left: 0 !important;
}

.ql-snow span{
    color: #e0e0e0;
}

.ql-snow {
    stroke: #e0e0e0;
}

.ql-stroke{
    stroke: #e0e0e0 !important;
}

@tailwind utilities;
